.gradient-text {
  background-image: linear-gradient(to right, #FA6E00, #E60026);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-front {
  background-image: linear-gradient(to right, #984300, #FD6F00, #CA5900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
